.user-page {
  width: 100%;
}

.upload-track-btn {
  color: rgb(240,240,240);
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  background-color: rgba(0,200,255,1);
  font-family: 'Source Sans Pro', sans-serif;
  padding: 15px 20px 15px 20px;
  border: none;
  //  -webkit-filter: brightness(80%)
}

.user-tracklist-section {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-content: flex-start;
  align: left;
}

.user-tracklist {
  margin: 0;
  text-align: left;
}

.user-track-header {
  border-bottom: 2px solid gray;
}
.user-track-h1 {
  color: rgb(0,200,255);
  font-size: 20px;
}

.upload-track-btn:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.user-header-bg {
  background-size: 100%;
   background-image: url('http://res.cloudinary.com/dfafbqoxx/image/upload/v1506443726/blue-pink-gradient_vur9co.png');
   background-position: top;
   width: 100%;
   height: 300px;
   display: flex;
   justify-content: flex-start;
}

.user-header-left {
  display: flex;
  justify-content: flex-start;
}

.user-avatar-container {
  margin: 20px;
  width: 250px;
  height: 250px;
  border: 1px solid gray;
  border-radius: 50%;
}

.user-avatar {
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.user-avatar-upload-label {
  width: 100px;
  height: 20px;
  color: black;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(240,240,240,0.4);
  padding: 3px;
  border: 2px solid white;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  position: absolute;
}

.user-avatar-upload-label:hover {
  background-color: rgba(240,240,240,1);
}

.user-header-username-container {
  display: flex;
  margin: 0;
  flex-direction: column;
  padding: 10px 20px 10px 20px;
  align-text: center;
}

.user-header-username {
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-decoration: none;
  background-color: none;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 30px;
  align-text: center;
}
