.splash-page {
  width: 100%;
}

.splash-header {
  background-size: 100%;
   background-image: url('http://res.cloudinary.com/dfafbqoxx/image/upload/v1506143322/splash-bg-5_pqomfz.jpg');
   background-position: center;
   max-width: 1080px;
   min-width: 860px;
   width: 100%;
   height: 600px;

  //  -webkit-filter: brightness(130%) contrast(110%)
   //-webkit-filter: brightness(100%);
}

.splash-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.splash-nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.splash-nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.splash-nav-logo {
  background-image: url('http://res.cloudinary.com/dfafbqoxx/image/upload/v1505940306/soundcrown-logo-wide_ywv1z8.jpg');
  width: 62.5px;
  height: 50px;
  background-size: 100%;
  // -webkit-filter: brightness(80%);
}
.splash-nav-word-logo {
  color: white;
  font-size: 15px;
  background-color: none;
  font-family: 'Righteous', cursive;
  width: auto;
  background-size: 100%;
  background-color: rgba(180,180,180,.4);
  // -webkit-filter: brightness(80%);
  padding: 13.6px 20px 13.6px 20px;
  border: 2px solid white;
}
.splash-nav-btn-login {
  color: white;
  text-decoration: none;
  font-size: 16px;
  background-color: none;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 20px 10px 20px;
  border: 2px solid white;
  border-radius: 8px;
  margin-right: 10px;
}

.splash-nav-btn-login:hover {
  background-color: rgba(180,180,180,.4);
  text-decoration: none;
  cursor: pointer;
  border: 2px solid white;
}

.splash-nav-btn-signup {
  color: white;
  text-decoration: none;
  font-size: 16px;
  background-color: rgb(0,200,255);
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 20px 10px 20px;
  border: 2px solid white;
  border-radius: 8px;
  margin-right: 10px;
  // -webkit-filter: brightness(80%);
}

.splash-nav-btn-signup:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid white;
  -webkit-filter: brightness(110%);
}

.splash-title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 48px;
}
.splash-hook {
  color: white;
  font-size: 26px;
  text-align: center;
  padding-left: 140px;
  padding-right: 140px;
  vertical-align: bottom;
}

.splash-main-btn {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  background-color: rgba(0,200,255,1);
  font-family: 'Source Sans Pro', sans-serif;
  padding: 15px 20px 15px 20px;
  border: 2px solid white;
  //  -webkit-filter: brightness(80%)
}

.splash-main-btn:hover {
  color: white;
  -webkit-filter: brightness(110%);
  text-decoration: none;
  cursor: pointer;
}
