.track-header-bg {
  background-size: 100%;
   background-image: url('http://res.cloudinary.com/dfafbqoxx/image/upload/v1506158472/cloudy-bg_bb5qqa.jpg');
   background-position: top;
   max-width: 1240px;
   min-width: 1240px;
   width: 100%;
   height: 400px;
   display: flex;
   justify-content: space-between;
}

.track-header-data {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 20px;
  align-text: center;
}

.track-header-username {
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-decoration: none;
  background-color: none;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  font-size: 18px;
  align-text: center;
}
.track-header-trackname {
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-decoration: none;
  background-color: none;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 30px;
  align-text: center;
}

.track-header-right {
  display: flex;
  justify-content: flex-end;
}

.track-header-time {
  margin: 30px;
  font-size: 18px;
}
.track-cover-art-container {
  margin: 20px;
  width: 350px;
  height: 350px;
}

.track-cover-art {
  min-width: 100%;
  min-height: 100%;
}
