input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 6px;
}

input[type="submit"] {
  width: 30%;
  color: white;
  background-color: rgb(0,200,255);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 6px;
}

.form-header {
  padding: 0;
  margin: 0;
  // background-color: rgb(0,200,255);
}

.form-label {
  color: black;
  font-size: 30px;
  text-align: center;
}

.upload-image-preview {
  width: 150px;
  height: 150px;
}

.track-upload-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.upload-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input[type="file"] {
    display: none;
}

label.track-upload-label {
  width: 300px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  background-color: rgba(0,200,255,1);
  padding: 15px 20px 15px 20px;
  border: 2px solid white;
  text-align: center;
  cursor: pointer;
}

label.track-img-upload-label {
  width: 200px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  background-color: rgba(0,200,255,1);
  padding: 10px 15px 10px 15px;
  border: 2px solid white;
  text-align: center;
  cursor: pointer;
}

.loader {
  background: url('http://res.cloudinary.com/dfafbqoxx/image/upload/v1506377535/loading_numhph.gif');
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
