/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// RESET
// CSS Reset
@import "base/reset.scss";
@import "font-awesome-sprockets";
@import "font-awesome";

// NAV BAR
@import "nav_bar/nav_bar.scss";

// form
@import "form/form.scss";
// MAIN BODY

.main-body {
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 1080px;
  min-width: 860px;
  width: 100%;
  background-color: rgb(240,240,240);
}

.track-cover-art {
  width: 200px;
  height: 200px;
}

.track-header {
  display: flex;
  justify-content: flex-start;
}


// SPLASH
@import "splash/splash.scss";

// USER PAGE
@import "user_page/user_page.scss";

//REACT MUSIC player
@import 'music_player/music_player.scss';
