.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 95vh;
}

.error-title {
  font-size: 60px;
  margin: 10px;
  margin-top: 150px;
  color: gray;
}

.error-img {
  font-size: 120px;
  color: gray;
}

.error-description {
  font-size: 20px;
  margin-bottom: 150px;
  color: gray;
  margin-top: 20px;
}
