<!DOCTYPE html>
<html>
  <head>
    <title>SoundcrownApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

    <link rel="icon" href="http://res.cloudinary.com/dfafbqoxx/image/upload/v1505940306/soundcrown-logo-wide_ywv1z8.jpg">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
